# fly.toml app configuration file generated for invoice-ai-qilo4a-cool-butterfly-5502 on 2026-01-19T19:09:10+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'inflow'
primary_region = 'arn'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 2
  memory_mb = 1024

[mounts]
  source = "app_data"
  destination = "/data"
